<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
    

    <h1 id="room-name">{{hostRoom}}</h1>
    <h1 id="player-name">{{hostPlayer}}</h1>

    <script>
        const socket = io(window.origin  + '/room')

        const roomName = document.getElementById('room-name').innerText
        const playerName = document.getElementById('player-name').innerText

        socket.emit('room_request', {'clientName': playerName, 'clientRoom': roomName})

        socket.on('room_response', res =>{
            console.log(res)
        })

        socket.on('disconnect', ()=>{
            socket.emit('room_leave', {'clientName': playerName, 'clientRoom': roomName})
        })

</script>
</body>
</html>